.markdown p {
    margin-top: 6px;
    margin-top: 6px;
}
.markdown hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown ul {
    list-style:circle;
}

.markdown ol {
    list-style:decimal;
}

.markdown table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown ul li, .markdown ol li {
    margin-left: 15px;
    list-style-position: outside;
}
